[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
selenium = "*"
beautifulsoup4 = "*"
pandas = "*"
pyarrow = "*"
random-user-agent = "*"
fastparquet = "*"
openai = "*"
scikit-learn = "*"
scikit-surprise = "*"
sentence-transformers = "*"

[dev-packages]

[requires]
python_version = "3.11"
